#highlighted-header-second.container {
    max-width: 1400px;
}
#highlighted-header-second .row .region-highlighted_header_second {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}
#highlighted-header-second #block-anme-main-navigation ,
body.lang-ar #highlighted-header-second #block-anme-main-navigation {
    background-color: #00a3da;
}
#highlighted-header-second #block-anme-main-navigation .block-content {
   /* margin-left: 20px;*/
}
#highlighted-header-second #superfish-main {
    background-color: #00a3da;
    width: 100%;
}
#highlighted-header-second ul#superfish-main {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
#highlighted-header-second #superfish-main li a {
     color: #ffffff;
     font-family: Corbel;
     font-size: 15px;
     font-weight: 500;
 }
#highlighted-header-second #superfish-main li#main-standardfront-page {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-image: url('../../images/icons/home-48.png');
    background-size: cover;
    text-indent: -9999px;
    overflow: hidden;
    margin-top: 5px;
}
body.lang-ar #highlighted-header-second #superfish-main li#main-standardfront-page {
    text-indent: 9999px;
}
#highlighted-header-second #superfish-main li[class*="sf-depth-"]:not(.sf-depth-1) a {
    background-color: #DFEEF4;
    color: #000000;
}
#block-anme-main-navigation .sf-accordion-toggle  {
    padding: 0px;
    background-color: transparent;
    position: absolute;
    top: 0px;
}
body.lang-ar #block-anme-main-navigation .sf-accordion-toggle  {
    left: 0px;
}

#block-anme-main-navigation .sf-accordion-toggle #superfish-main-toggle {
    display: block;
    background: url("../../images/menu.png") no-repeat;
    width: 37px;
    height: 26px;
    border-radius: 4px;
    text-indent: -9999px;
    /*top: 176px;
    position: absolute;*/
}
#block-anme-main-navigation .sf-accordion-toggle #superfish-main-toggle span {
    display: none;
}
#block-anme-main-navigation #superfish-main-accordion {
    background-color: #00a3da;
}
#block-anme-main-navigation #superfish-main-accordion li {
    color: #ffffff;
}
#block-anme-main-navigation #superfish-main-accordion li a {
    color: #ffffff;
}



